* {
    font-family: Verdana, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

body { 
    background-color: #edece9;
    color: #775548;

}


.fondo-inicio {      /* tamaño de imagen */
    width: 100%;
   
}

.navbar {           /* barra de navegacion */
    color: #ef6d24;
    font-weight: bold;
    font-size: 16px;
}

.link {
    color: #ef6d24;
}

.link2 {
    color: #3AABC4;
}

.link3 {
    color: red;
}

h1 {
    color: #775548;
    font-size: 26px;
    font-weight: bold;
}

h2 {
    background-color: #775548;
    color: #e1d4cf;

}

.titulo-especial {
    color: #d8b03b;
}

.mapa {
    border: 3px solid #775548;
    display: inline-block;
}

.container {
    overflow: hidden; /* Limpiar el float */
   
}

.imagen {
    float: left; /* Hacer que la imagen flote a la izquierda */
    margin-right: 20px; /* Añadir un espacio entre la imagen y el texto */
}

.lista {
        display: inline-block; /* Hacer que la lista se muestre en línea con el texto e imagen */
        margin-left: 10px; /* Agregar un margen a la izquierda para separar la lista de la imagen */
}

.lista li {
    padding-bottom: 10px; /* Agregar un relleno en la parte inferior de cada ítem de la lista */
}
